.video {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
  @media (min-aspect-ratio: 16/9) {
    .video { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    .video { width: 300%; left: -100%; }
  }

  @media all and (max-width: 1024px) {
    .video { display: none; }
  }